<div id="content">
  <h1 id="tagline">
    rubyconf5k
  </h1>
  <div id="timer">
    Start
  </div>

  <ul id="results">
    <li>
      <%= link_to "Runners", :controller => "runners" %>
    </li>
    <li>
      <%= link_to "Results for the running timer", results_path %>
    </li>
  </ul>
</div>