<% content_for :javascript do %>
  <%= javascript_include_tag 'result_edit' %>
<% end %>

<div id="content">
  <h1 id="tagline">
    rubyconf5k
    <% if @category %>
      <%= @category.name %>
    <% end %>
  </h1>
  <div id="timer">
    Results
  </div>

  <ol id="results">
    
  </ol>
  <div id="list_end"></div>
</div>